.block {
    width: 1280px;
    height: 720px;
    margin-top: 30px;
    border: 1px solid #ddd;
}

.connect {
    margin-top: 30px;
    text-align: center;
    /*  border: 1px solid #ddd;*/
}

.grp {
    margin-top: 30px;
   /* border: 1px solid #ddd;*/
    padding-bottom: 25%;
}

.log {
    /* border: 1px solid #ddd;*/
}

.big-video {
    width: 1280px;
    height: 720px;
    border: 2px solid #dd000d;
}

.small-video {
    width: 480px;
    height: 320px;
    border: 2px solid #0032dd;
}

textarea {
    overflow-y: scroll;
    height: 100px;
    margin-top: 20px;
    width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}